  
  .header {
   display: flex;
   justify-self: center;
   align-items: center;
  }
  
  .main {
    display: flex;
    justify-self: center;
    align-items: center;
   }
  
  .cell {
  border: 1px solid gray;
  width:128px;
  height:128px;
  margin-top:3px;
  cursor: pointer;
  }
  
  .row{
  display: flex;
  gap:3px;
  }
  
  button{
    cursor:pointer;
    
  }
  
  .img{
    width: 128px;
    height:128px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease; 
  }